<div *ngIf="(this.appStateService.isHandset$ | async); else desktopTemplate">
<div class="row mt-3">
    <h3>
        Trending
    </h3>
</div>
<app-cards class="products-slider" mode='mobile' filter='trending'></app-cards>
<div class="row mt-3">
    <h3>
        Categories
    </h3>
</div>
<app-cards  class="products-slider" mode='mobile' filter='trending'></app-cards>
<div class="row mt-3">
    <h3 class="mb-0">
        Explore more
    </h3>
</div>
<app-infinite-products></app-infinite-products>
</div>
<ng-template #desktopTemplate>
    <div class="row mt-3">
        <h3>
            Trending
        </h3>
    </div>
    <app-cards class="products-slider" mode='mobile' filter='trending'></app-cards>
    <div class="row mt-3">
        <h3>
            Categories
        </h3>
    </div>
    <app-cards  class="products-slider" mode='mobile' filter='trending'></app-cards>
    <div class="row mt-3">
        <h3 class="mb-0">
            Explore more
        </h3>
    </div>
    <app-infinite-products></app-infinite-products>
</ng-template>