.products-slider {
  display: flex;
  overflow-x: scroll;
  scrollbar-color: #c7c7c7 transparent;
  margin-bottom: 16px;
}
h3 {
  text-align: center;
  font-size: 2.5rem;
}
.desktop-cards{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.explore-more{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}