<div *ngIf="(this.appStateService.isHandset$ | async); else desktopTemplate">
<div class="row mt-3">
    <h3>
        Trending
    </h3>
</div>
<app-cards class="products-slider" mode='mobile' filter='trending'></app-cards>
<div class="row mt-3">
    <h3>
        Premium
    </h3>
</div>
<app-cards  class="products-slider" mode='mobile' filter='trending'></app-cards>
<div class="row">
    <h3>
        Explore more
    </h3>
</div>
<app-cards mode="mobile" class="explore-more"></app-cards>
</div>
<ng-template #desktopTemplate>
    <div class="row">
        <h3>
            Trending
        </h3>
    </div>
    <app-cards class="desktop-cards" mode='desktop' filter='trending'></app-cards>
    <div class="row">
        <h3>
            Premium
        </h3>
    </div>
    <app-cards class="desktop-cards" mode='desktop'></app-cards>
    <div class="row mt-3">
        <h3>
            Explore more
        </h3>
    </div>
    <app-cards class="desktop-cards"></app-cards>
</ng-template>