<section class="billing-address">
  <div class="billing-address__title">
    <span class="text-primary">Billing Address</span>
  </div>
  <div class="billing-address__body">
    <form class="billing_address__form" [formGroup]="">
      <mat-form-field class="billing_address__form-field" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
      <mat-form-field class="billing_address__form-field" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
    </form>
  </div>
</section>
