.billing-address {
  padding: 30px 15px 0px 15px;
}
.billing-address__title {
  font-size: 25px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}
.billing_address__form-field {
  width: 100%;
}
.billing-address__submit-container {
  text-align: end;
}
.billing_address__form-error {
  color: tomato;
}
.billing_address__form-submit {
  width: 100%;
}
