<section class="billing-address">
  <div class="billing-address__title">
    <span class="text-primary">Billing Address</span>
  </div>
  <div class="billing-address__body">
    <form class="billing_address__form" [formGroup]="billingAddressForm">
      <mat-form-field class="billing_address__form-field" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="" formControlName="firstName" />
      </mat-form-field>
      <mat-hint
        *ngIf="
          this.billingAddressForm.controls.firstName.touched || isSubmitted
        "
      >
        <span
          *ngIf="
            this.billingAddressForm.controls.firstName.errors?.required ||
            (isSubmitted && this.billingAddressForm.controls.firstName.pristine)
          "
          class="billing_address__form-error"
          >First Name is required</span
        >
        <span
          *ngIf="
            this.billingAddressForm.controls.firstName.errors?.pattern &&
            (isSubmitted || this.billingAddressForm.controls.firstName.touched)
          "
          class="billing_address__form-error"
          >First Name is invalid</span
        >
      </mat-hint>

      <mat-form-field class="billing_address__form-field" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="" formControlName="lastName" />
      </mat-form-field>
      <mat-hint
        *ngIf="this.billingAddressForm.controls.lastName.touched || isSubmitted"
      >
        <span
          *ngIf="
            this.billingAddressForm.controls.lastName.errors?.required &&
            (isSubmitted || this.billingAddressForm.controls.touched)
          "
          class="billing_address__form-error"
          >Last Name is required</span
        >
        <span
          *ngIf="
            this.billingAddressForm.controls.lastName.errors?.pattern &&
            (isSubmitted || this.billingAddressForm.controls.lastName.touched)
          "
          class="billing_address__form-error"
          >Last Name is invalid</span
        >
      </mat-hint>

      <mat-form-field class="billing_address__form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="" formControlName="email" />
      </mat-form-field>
      <mat-hint
        *ngIf="this.billingAddressForm.controls.email.touched || isSubmitted"
      >
        <span
          *ngIf="
            this.billingAddressForm.controls.lastName.errors?.pattern &&
            this.billingAddressForm.controls.lastName.touched
          "
          class="billing_address__form-error"
          >Email is invalid</span
        >
      </mat-hint>

      <mat-form-field class="billing_address__form-field" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="" formControlName="address"></textarea>
      </mat-form-field>
      <mat-hint
        *ngIf="this.billingAddressForm.controls.address.touched || isSubmitted"
      >
        <span
          *ngIf="
            this.billingAddressForm.controls.address.errors?.required &&
            (isSubmitted || this.billingAddressForm.controls.address.touched)
          "
          class="billing_address__form-error"
          >Address is required</span
        >
      </mat-hint>

      <mat-form-field appearance="fill" class="billing_address__form-field">
        <mat-label>Select country</mat-label>
        <mat-select [(value)]="country" disabled>
          <mat-option [value]="country">India</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="billing_address__form-field">
        <mat-label>Select state</mat-label>
        <mat-select [(value)]="state" disabled>
          <mat-option [value]="state">Delhi</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="billing_address__form-field" appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="postalCode" />
      </mat-form-field>
      <mat-hint
        *ngIf="
          this.billingAddressForm.controls.postalCode.touched || isSubmitted
        "
      >
        <span
          *ngIf="
            this.billingAddressForm.controls.postalCode.errors?.required &&
            (this.billingAddressForm.controls.postalCode.touched || isSubmitted)
          "
          class="billing_address__form-error"
          >Postal code is required</span
        >
        <span
          *ngIf="
            this.billingAddressForm.controls.postalCode.errors?.pattern &&
            this.billingAddressForm.controls.postalCode.touched
          "
          class="billing_address__form-error"
          >Postal code is invalid</span
        >
      </mat-hint>

      <div class="billing-address__submit-container">
        <button
          class="billing_address__form-submit"
          mat-raised-button
          (click)="onSubmit()"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</section>
