<section class="search__body">
  <ais-instantsearch [config]="config">
    <ais-configure [searchParameters]="searchParameters"></ais-configure>
    <span class="search__input">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search Products</mat-label>
        <input
          matInput
          placeholder="Search products"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="none"
          spellcheck="false"
          [(ngModel)]="searchParameters.query"
        />
      </mat-form-field>
      <mat-icon
        class="search__icon"
        aria-hidden="false"
        aria-label="search icon"
        >search</mat-icon
      >
    </span>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Filters</mat-panel-title>
        <ais-configure [searchParameters]="{ hitsPerPage: 8 }"></ais-configure>
        <mat-panel-description class="search__filter-icon">
          <mat-icon
            class="search__icon"
            aria-hidden="false"
            aria-label="search icon"
            >filter_list</mat-icon
          >
        </mat-panel-description>
      </mat-expansion-panel-header>
        <ais-refinement-list
        class="form-control list-group"
          attribute="category"
          [searchable]="false"
          [transformItems]="transformItems"
        ></ais-refinement-list>
    </mat-expansion-panel>

    <div class="search__result-body">
      <ais-hits>
        <ng-template let-hits="hits">
          <div *ngFor="let hit of hits">
            <a href="#" class="search__product-link">
              <div class="search__img-cntn">
                <img [src]="hit.image" alt="" class="img-cntn__img" />
              </div>
              <div class="result-body__product-desc">
                <h1 class="product-desc__title">
                  {{ hit.product_name | titlecase }}
                </h1>
                <h2 class="product-desc__category">
                  {{ hit.category | titlecase }}
                </h2>
                <dl class="product-desc__price">
                  <dt class="price__label">Price</dt>
                  <dd class="price__amount">
                    &nbsp;&nbsp;{{ hit.price | currency: "₹" }}
                  </dd>
                </dl>
              </div>
            </a>
          </div>
        </ng-template>
      </ais-hits>
    </div>
  </ais-instantsearch>
</section>
