app-banner {
    display: block;
    height: auto;
    width: auto;
    overflow-x: hidden;
  }
app-cards{
  display:flex;
  overflow-x: scroll;
  scrollbar-color: #c7c7c7 transparent;
  margin-bottom: 16px;
}
h3{
  text-align: center;
  font-size: 1.5rem;
}
.whats-new{
  padding: 0px;
}
img{
    object-fit: fill;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;

}
.link-to-shop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-align: center;
  font-size: 1.5rem;
}
app-categories{
  display:flex;
  overflow-x: scroll;
  scrollbar-color: #c7c7c7 transparent;
}