<ng-container>
<ng-container #mobileTemplate>
  <div class="view-cart-mobile">
    <div class="view-cart-mobile__title-container">
      <span class="view-cart-mobile__title-container__text"> Your Cart </span>
    </div>
    <div class="view-cart-mobile__cart-items-empty" *ngIf="!!!cartItems.length">
      <img
        class="view-cart-mobile__cart-items-empty__img"
        src="https://firebasestorage.googleapis.com/v0/b/bazaa-9913b.appspot.com/o/undraw_empty_cart_co35.svg?alt=media&token=36f8d55f-0f9c-445c-8ed3-879ce85b5aaf"
        alt="empty cart"
      />
      <!--todo add route to shop page-->
      <p class="view-cart-mobile__cart-items-empty__link mt-2" [routerLink]="['/shop/all']">Continue shopping</p>
    </div>
    <div class="view-cart-mobile__cart-items-fill" *ngIf="cartItems.length">
      <div *ngFor="let item of cartItems">
        <div
          class="text-primary"
          [routerLink]="['/product/' + item.product_id]"
        >
          {{ item.product_name }}
        </div>
        <div class="row">
          <span class="col-6 view-cart-mobile__cart-items-fill__price"
            >{{ priceSymbol }}&nbsp;{{ item.product_price }}&nbsp;X&nbsp;{{
              item.quantity
            }}&nbsp;units</span
          >
          <span class="col-6 view-cart-mobile__cart-items-fill__actions">
            <mat-icon
              color="accent"
              (click)="
                editCartItem({
                  cartDetailsId: item.cd_id,
                  cartId: item.cart_id,
                  productName: item.product_name,
                  productImage: item.product_image,
                  price: item.product_price,
                  quantity: item.quantity - 1,
                  operation: 'edit'
                })
              "
              >remove</mat-icon
            >&nbsp;
            <mat-icon
              color="accent"
              (click)="
                editCartItem({
                  cartDetailsId: item.cd_id,
                  cartId: item.cart_id,
                  productName: item.product_name,
                  productImage: item.product_image,
                  price: item.product_price,
                  quantity: item.quantity + 1,
                  operation: 'edit'
                })
              "
              >add</mat-icon
            >&nbsp;<mat-icon
              color="accent"
              (click)="
                removeItem({
                  cartDetailsId: item.cd_id,
                  cartId: item.cart_id,
                  productName: item.product_name,
                  productImage: item.product_image,
                  price: item.product_price,
                  quantity: item.quantity,
                  action: false,
                  operation: 'delete'
                })
              "
              >close</mat-icon
            ></span
          >
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <app-cart-summary></app-cart-summary>
  <mat-divider *ngIf="cartItems.length"></mat-divider>
  <app-billing-address *ngIf="cartItems.length"></app-billing-address>
  <mat-divider *ngIf="cartItems.length"></mat-divider>
  <section class="view-cart-mobile__check-box" *ngIf="cartItems.length">
    <mat-checkbox class="example-margin" color="primary"
      >Shipping Address is same as my billing address</mat-checkbox
    >
    <mat-checkbox class="example-margin" color="primary"
      >Save this information for next time</mat-checkbox
    >
    <button mat-raised-button color='primary' class='view-cart-mobile__payment-btn' [disabled]="!!!this.checkoutService.shippingAddress.getValue()" (click)="onPayment()">Payment</button>
  </section>
  <mat-divider *ngIf="cartItems.length"></mat-divider>
</ng-container>

