<div *ngIf="product; else loading">
    <div class="product-detail">
    <img [src]="product?.product_image" [alt]="product?.product_name" />
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3 class="row">
            <span class="col-12 h3 product-name">
              {{ product.product_name }}
            </span>
            <span class="col-6 text-muted price-info">
              Price:&nbsp;&nbsp;{{ priceSymbol }}&nbsp;{{ product.price }}
            </span>
            <span class="col-6 text-muted price-info">
              Delivery:&nbsp;&nbsp;{{ priceSymbol }}&nbsp;{{
                product.delivery_price
              }}
            </span>
          </h3>
        </div>
        <hr class="my-4" />
        <div class="cart-text text-muted price-desc">
          <p class="row">
            <span class="col-12">{{ product.product_desc }}</span>
          </p>
        </div>
      </div>
    </div>
    </div>
    <h3 class="title">Similar Products</h3>
    <app-cards mode="desktop" class="mt-5" class="warp-cards"></app-cards>
  </div>
  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
  