.mobile {
    width: calc(50vw - 10px);
    margin: 5px;
  }
  .mobile mat-card-title {
    font-size: 15px;
  }
  .mobile mat-card {
    padding: 0px 5px;
    overflow-x: hidden;
    margin-left: 5px;
  }
  .column {
    width: 400px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }
  .column img{
    height: 274px;
  }
  app-spinner{
    width: 100%;
  }
  span:nth-child(1){
    margin-left: 5px;
  }
  mat-card img{
    height: 153px;
  }