.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.cart-sidenav-desktop{
  width: 400px;
}

.cart-sidenav-mobile{
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  // position: relative;
}
.hidden{
  display: none;
}
mat-icon{
  cursor: pointer;
}
mat-sidenav-content{
  width: 100%;
  overflow-x: hidden;
}