<mat-sidenav-container class="sidenav-container">
  <!--[ngClass]="{hidden : !(isXL$ | async)}"-->
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Home</a>
      <a mat-list-item [routerLink]="['/shop/all']">Shop</a>
      <a
        mat-list-item
        *ngIf="this.appStateService.userToken$ | async"
        [routerLink]="['/cart/view-cart']"
        >Cart</a
      >
      <a mat-list-item [routerLink]="['/search']">Search</a>
      <a
        mat-list-item
        *ngIf="this.appStateService.userToken$ | async"
        (click)="logout()"
        >Logout</a
      >
      <a
        mat-list-item
        *ngIf="!(this.appStateService.userToken$ | async)"
        [routerLink]="['/user']"
        >Login</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span #mobileToolBar [routerLink]="['/']">frontEnd</span>
      <span>
        <button
          type="button"
          aria-label="search"
          mat-icon-button
          [routerLink]="['/search']"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="cart icon"
            matBadgeColor="accent"
            >search</mat-icon
          >
        </button>
        <button
          type="button"
          aria-label="Cart"
          mat-icon-button
          [routerLink]="['/cart/view-cart']"
          *ngIf="isHandset$ && this.appStateService.userToken$ | async"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="cart icon"
            matBadgeColor="accent"
            >shopping_cart</mat-icon
          >
        </button>
      </span>
      <mat-icon
        *ngIf="!(this.appStateService.userToken$ | async)"
        [routerLink]="['/user']"
        aria-hidden="false"
        aria-label="cart icon"
        >account_circle</mat-icon
      >
    </mat-toolbar>
    <ng-content></ng-content>
    <svg
      class="main-nav__footer"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#3f51b5"
        fill-opacity="1"
        d="M0,128L80,133.3C160,139,320,149,480,149.3C640,149,800,139,960,133.3C1120,128,1280,128,1360,128L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
      ></path>
    </svg>
  </mat-sidenav-content>
</mat-sidenav-container>
