<ng-container *ngIf="categories; else elseBlock">
  <span *ngFor="let category of categories">
    <mat-card
      
      [ngClass]="mode === 'mobile' ? 'mobile' : 'column'"
    >
      <img
        mat-card-image
        [src]="category.product_image"
        [alt]="category.category_name"
      />
      <mat-card-content>
        <mat-card-title class="text-wrap">{{
          category.category_name
        }}</mat-card-title>
      </mat-card-content>
    </mat-card>
  </span>
</ng-container>
<ng-template #elseBlock>
  <app-spinner></app-spinner>
</ng-template>
